<% @page_title = "Infidelity Testing Options" %>
<% @page_description = "Get DNA Tested Today offers different DNA/Paternity testing options to fit various needs. Select an option from the list to learn more about each test, and find the one that is right for you." %>


<div class="hd-layers">
	<div class="layer"></div>

	<div class="l1">
		<h1>Get Infidelity Tested Today</h1>
		<h3>DNA doesn’t lie</h3>
		<p>You have a feeling that something isn’t right in your relationship? You suspect they’re cheating. The signs are there but you don’t have proof. Illuminate all day out with her infidelity DNA testing services.</p>

		<p>Semen detection test<br>
		To confirm the presence or absence of human semen on any garment or item you would like to have tested.Semen detection test</p>


		<p>DNA detection test<br>
		Our DNA test can obtain a male or female profile on any garment or items you would like to have tested. These results can be used for a future comparison against a reference sample. Autosomal and Y-STR DNA testing available.</p>

		<p>Saliva detection test<br>
		To confirm the presence or absence of human saliva on any garment or item you would like to have tested.</p>

		<p>DNA comparison test<br>
		A DNA profile a cane for my reference sample, usually a cheek swab, can be used to exclude or identify a contributor against DNA obtained from a test that item. This premier test provides your case with the most definitive results.</p>
	</div>
</div>