<% @page_title = "Infidelity Testing Options" %>
<% @page_description = "Our infidelity DNA testing services can give you the answers you're looking for. Choose from our list of testing options to eliminate all doubt." %>


<!-- fighting.jpg
infidelity-header.png
infidelity-img.png
 -->
<div class="infidelity-pagewrap">
	<div class="it-full it-head" uk-parallax="bgy: -200; media:767px;">
    <div class="ith-textbox">
	    <h1>Infidelity DNA<br> Testing Services</h1>
			<h2>Call today for peace of mind</h2>
			<div class="clearfix"></div>
			<a href="tel:+19155191600">915.519.1600</a>
		</div>
	</div>


	<div class="it-full itb-intro">
		<div class="med2Def">
			<h3>DNA Doesn’t Lie</h3>
			<p>You have a feeling that something isn’t right in your relationship? You suspect they’re cheating. The signs are there but you don’t have proof. Eliminate all doubt with our infidelity DNA testing services.</p>
		</div>
	</div>

	<div class="it-full itb-main">
		<div class="medDef">
			<h4>Infidelity Testing Options</h4>
			<div class="half left">
				<div class="itbox itbox1">
					<p class="h4">Semen Detection Test</p>
					<p>To confirm the presence or absence of human semen on any garment or item you would like to have tested.</p>
				</div>

				<div class="itbox itbox2">
					<p class="h4">DNA Detection Test</p>
					<p>Our DNA test can obtain a male or female profile on any garment or items you would like to have tested. These results can be used for a future comparison against a reference sample. Autosomal and Y-STR DNA testing available.</p>
				</div>
			</div>

			<div class="half right">
				<div class="itbox itbox3">
					<p class="h4">Saliva Detection Test</p>
					<p>To confirm the presence or absence of human saliva on any garment or item you would like to have tested.</p>
				</div>

				<div class="itbox itbox4">
					<p class="h4">DNA Comparison Test</p>
					<p>A DNA profile obtained from a reference sample, usually a cheek swab, can be used to exclude or identify a contributor against DNA obtained from a tested item. This premier test provides your case with the most definitive results.</p>
				</div>
			</div>
		</div>
	</div>
</div>