<% @page_title = "Infidelity Testing Options" %>
<% @page_description = "Get DNA Tested Today offers different DNA/Paternity testing options to fit various needs. Select an option from the list to learn more about each test, and find the one that is right for you." %>


<div class="hd-layers">
	<div class="layer"></div>

	<div class="l1">
		<h1>Get Infidelity Tested Today</h1>
	</div>
</div>