<% @page_title = "DNA Testing Options" %>
<% @page_description = "New Description" %>


<div class="innerpage-top">
	<div class="wrap-less">
		<div class="left-box">
			<h1>DNA Testing</h1>
			<p>Get DNA Tested Today offers several DNA testing options that each fit different needs. Read the descriptions provided to learn more about each test, and find out which one is right for you.</p>
			<p><span>Get DNA Tested Today provides accurate testing and reliable results. We guarantee that every test will get the professional, dependable treatment we are known for providing.</span></p>
		</div>

		<div class="right-box"><%= image_tag('preview.png', alt: '', class: 'img-responsive') %></div>
	</div>
</div>

<div class="test-options">
	<div class="wrap">
		<ul uk-accordion="multiple: true">
			<li>
	      <div class="uk-accordion-title">Legal DNA Paternity Testing</div>
	      <div class="uk-accordion-content">
	        <p>Legal DNA Testing is also known as Legal Paternity Testing. We would perform DNA testing on the individuals being tested, and maintain a chain of custody, so, we can provide you with a court admissible document. This can be used for child support, custody, changing the name of the birth certificate, or other reason that you may need.</p>
	      </div>
	    </li>

	    <li>
	      <div class="uk-accordion-title">Non-Legal Paternity Testing</div>
	      <div class="uk-accordion-content">
	        <p>Non-Legal DNA Testing or Non Legal Paternity Testing is for curiosity purposes only and can not be used in any legal matters or for legal purposes. For Non legal paternity testing, we would mail the recipient a DNA Testing kit, which includes instructions and a pre-paid postage envelope to send the testing samples to our testing lab. The process can be done in the comfort and privacy of your own home where the recipients can collect their own samples at their own convenience.</p>
	      </div>
	    </li>

	    <li>
	      <div class="uk-accordion-title">Avuncular DNA Testing</div>
	      <div class="uk-accordion-content">
	        <p>Avuncular DNA testing determines the probability that an individual is the biological aunt or uncle of a child. An avuncular test is used when relatives (generally aunts or uncles) want to know  whether their niece and or nephew is really their blood relative.</p>

	        <p>We would recommend a paternity test or maternity test if there is any possibility of getting hold of a DNA sample from them, because these tests provide the most conclusive and accurate results. However, we understand that sometimes carrying out a paternity test or maternity test is not feasible.</p>

	        <p>In such cases, relatives can confirm their genetic relationship to each other with avuncular testing. Avuncular testing is used in the place of a paternity DNA test when the alleged father is unavailable or deceased.</p>
	      </div>
	    </li>

	    <li>
	      <div class="uk-accordion-title">DNA Sibling-ship Testing</div>
	      <div class="uk-accordion-content">
	        <p>A siblingship test is a DNA test conducted to determine if two children share one or both parents. It is an indirect way to determine family relationships when an alleged father is not available for a paternity test. Results of a siblingship test may be used as proof in Social Security benefit and other inheritance claims.</p>

	        <p>A siblingship test starts with the analysis of known relatives:
	        	<br>
	        	Sibling 1 and Sibling 2 do not share the same mother and they want to find out if they share the same biological father—in this situation, a half siblingship test is performed.
						<br>
	        	Sibling 1 and Sibling 2 share the same biological mother but are unsure if they share the same biological father—in this situation, a full siblingship test is performed. In the test, the siblings’ DNA profiles are compared to see how much of their DNA could have come from a common father.
						<br>
	        	Participation of the mother(s) is encouraged to help exclude the mother’s contribution to the children’s DNA. Siblingship tests require more analysis, and they could be more costly and take a longer time to complete without the mother’s participation.
	        </p>
	      </div>
	    </li>

	    <li>
	      <div class="uk-accordion-title">Grand Paternity Testing</div>
	      <div class="uk-accordion-content">
					<p><b>Two types of Grand paternity testing options:</b></p>
					<p><b>Single Grandparent DNA Analysis:</b><br>
				 	This DNA test includes ONE grandparent, 1 grandchild, and parent (optional, but strongly suggested). The conclusive range for DNA results are either greater than 90% inclusion or less than 10% exclusion probabilities.</p>

					<p><b>Duo Grandparent DNA Analysis:</b><br>
				  This DNA test includes BOTH grandparents, 1 child, and parent optional, but strongly suggested. For the most accurate results in a grandparent analysis
				  it is best to include both the alleged grandparents and the child. When both alleged grandparents are included the DNA results can indicate greater than 99.99%
				  (for inclusions) or 100% (for exclusions) probability of the Grandparent relationship.</p>

					<p><b>Procedure:</b><br>
			    Samples are collected from one or both grandparents and the grandchild at home or at a collection center (a known parent is optional, but strongly suggested).
			    The samples are obtained using a cheek swab. After samples are sent to the laboratory, results will be available within 5-10 Business Days.</p>
	      </div>
	    </li>

			<li>
	      <div class="uk-accordion-title">Twin Zygosity DNA Testing</div>
	      <div class="uk-accordion-content">
	      	<p>Twin Zygosity DNA Testing is used to determine if twins are identical or fraternal based on a simple DNA test.
							<!-- Once you have completed the form, we will contact you at the phone number or email address you provided to finalize the scheduling of your appointment. --></p>
				</div>
			</li>

	    <li>
	      <div class="uk-accordion-title">DNA Profiling Test</div>
	      <div class="uk-accordion-content">
	      	<p>DNA profiling allows individuals to obtain a record of their genetic profile —- a unique combination of 16 markers, found in their DNA ,that serves as a permanent genetic ID.
						<!-- Once you have completed the form, we will contact you at the phone number or email address you provided to finalize the scheduling of your appointment. --></p>
				</div>
			</li>

			<li>
	      <div class="uk-accordion-title">At-Home Paternity DNA Test Kit</div>
	      <div class="uk-accordion-content">
	      	<p>The At-Home Paternity DNA Test Kit provides accurate testing for paternity in the comfort and privacy of your home. The testing kit determines the probability that a male is the biological father of a child with 99.9% accuracy. Everything needed for Paternity Test Results is included in the ﻿Get DNA Tested Today Home Test Kit. One low price includes: testing kit, shipping, and results. Learn the true biological relationship with complete accuracy.</p>
				</div>
			</li>
	  </ul>
	</div>
</div>
