<div class="message">

  <p>
    <strong><%= message.user.email %></strong><br>
    <span class="content">
      <%= message.content %>
    </span>
  </p>
  <small><em>Created <%= time_ago_in_words(message.created_at) %> ago</em></small>
</div>
<!-- user@user.com
password -->
