<div class="conv">
  <p>Chatting with <b><%= conversation.with(current_user).name %></b></p>
  <em><%= conversation.personal_messages.last.body.truncate(25) %></em>
  <br>
  <%= link_to 'View conversation', conversation_path(conversation), class: 'view-link' %>
  <hr>
</div>
