<a href="#" class="live-chat">
  <%= image_tag('chat.png', class:'chat-icon') %>

	<% if boss_admin.online? %>
	  <span class="ofc-online"><b>Online</b> - Chat with us</span>
	<% else %>
	  <span class="ofc-offline"><b>Away</b> - Send us a message</span>
	<% end %>
</a>
