<a href="#" class="live-chat">
  <i class="fa fa-comments" aria-hidden="true"></i>

	<% if boss_admin.online? %>
	  <span class="ofc-online"><b>Online</b> - Chat with us</span>
	<% else %>
	  <span class="ofc-offline"><b>Away</b> - Send us a message</span>
	<% end %>
</a>
<!-- fa-commenting  -->
<!-- fa-commenting-o  -->

