<% @page_title = "Users" %>

<div class="full">
	<div class="wrap">
		<h1>Users</h1>
		<hr class="title-line">
		<div class="clearfix"></div>
		<ul class="users-ul"><%= render @users %></ul>
	</div>
</div>
