<% @page_title = @state.name.capitalize %>

<div class="full">
	<div class="wrap">
	  <h1>Get DNA Tested Today in <span><%= @state.name %></span></h1>
	  <hr class="title-line">
		<div class="clearfix"></div>

		<%= render 'shared/dna-text' %>
	</div>

	<div class="current-cities">
		<div class="wrap">
  		<% if @state_towns != 0 %>
  	    <div class="wrap">
					<% @state_towns.each do |town| %>
					  <h4 class="state-name"><%= link_to town.townname.capitalize, town_path(town) %></h4>
					<% end %>
  	    </div>
  		<% end %>
		</div>
	</div>

	<div class="wrap">
		<%= link_to("Back to States", states_path, :class => 'back-link') %>
	</div>
</div>
