<div class="shared-text">
	<p>Get DNA Tested Today offers affordable low cost legal and non-legal DNA – paternity testing. Our DNA – paternity testing process maintains a strict chain of custody and is 99.99% accurate.</p>

	<p>For more information, call us toll free at: <span><%= phone %></span>.<br>
	<%= link_to "Click Here", testing_path %> to schedule your testing appointment today!</p>
</div>
