// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";
@import "variables";

// h2 { @include text-gradient(300deg, $plum, $blue); }
// background: -webkit-linear-gradient(-102deg, darken($blue, 15%) 19%, lighten($blue, 10%) 81%);
// background: linear-gradient(12deg, darken($blue, 15%) 19%, lighten($blue, 10%) 81%);


.inner {width: 85%; @include center-block();}
hr.hlf {width:25%; @include center-block(); border-top:1px solid #ddd;}

.home .pg-body{
	.breadcrumb {display: none;}
	.hero-home { text-align:center;
		@include sec-default(); background-color: white; padding-top: 45px; height:600px;
		@include sec-bgimage('running.jpg');background-position: bottom right;
		// @include sec-bgimage('binoc.jpg');
		h1 {margin: 0px; font-weight: bold; font-family: $cant; text-transform: uppercase;}
		h3 {font-size: 21px; margin-bottom: 0;}
	}

	.dna {@include sec-default(); background-color: white;
		// padding: 140px 0;
		h3{font-size: 21px; line-height: 1.5em;}
		h2 { color: darken($blue, 10%); font-family: $source; font-weight: 600; font-size:30px; line-height: 1em;}
		p{margin-bottom: 0;}
		hr.hlf {margin-bottom: 30px;}
		.link-a{@include purple-btn(50%); padding:10px 25px;}

		.left {@include sec-grid(left, 45%); display: none;}
		.right {@include sec-grid(right, 35%); margin-right:14%; text-align: center; padding: 140px 0;}

		@include sec-bgimage('map.png'); background-size: 45%; background-position: left center;
	}

	.legal-lt {@include sec-default(); background-color: $f6; padding:80px 0;
		.left {@include sec-grid(left, 40%); margin-left: 10%;}
		.right {@include sec-grid(left, 40%); margin-left: 10%;}

		.abs {position: absolute; width:35%; margin-top:-3.5%; right:0;}

		p {font-size: 18px; margin-bottom:20px;}
		h2 {font-weight: bold; line-height: 1.5em;
			span{font-size:28px;}
		}
		.link-a{@include purple-btn(35%);float: left; margin-left: 5%;}
	}

	.call-block{
		@include sec-default(); text-align: center;padding:$sec-pad;
		background: -webkit-linear-gradient(-300deg, darken($blue, 15%), $blue);
		background: linear-gradient(-300deg, darken($blue, 15%), $blue);
		h3{color: white; font-weight: bold; letter-spacing: 1px; font-size: 21px;}

		.img-icon {width:120px; @include center-block();}
	}

	.profile { @include sec-default();background-color: $f2; display: none;
		// @include sec-bgimage('preview11.png'); background-size: 35%; background-position: left center;
		.left {@include sec-grid(left, 45%);}
		.right {@include sec-grid(right, 40%);padding:$sec-pad; margin-right: 10%; margin-top: 5%;}
		.link-a{@include link(35%, $blue); border-radius: 15px; border-width:0px; background-color: $f2; box-shadow: 5px 5px 8px rgba(black, .1); float:left; }
		.img-small {width:30%; float: right;}
	}

	.homekit { @include sec-default(); padding:60px 0;
		.left {@include sec-grid(left, 22%); margin-left: 15%; }
		.right {@include sec-grid(none, 40%); margin-left: 6%; margin-top: 3.5%;}
		.link-a{@include purple-btn(40%); float:left;
			background: -webkit-linear-gradient(-102deg, darken($blue, 15%) 19%, lighten($blue, 8%) 81%);
			background: linear-gradient(12deg, darken($blue, 15%) 19%, lighten($blue, 8%) 81%);
		}
		h2{font-size:27px; font-weight: bold;}
		p{font-size: 18px; }
	}

	.us { @include sec-default(); padding: $sec-pad; background-color: $f2;
		// @include sec-bgimage('preview11.png'); background-size: 35%; background-position: left center;
		.one, .two, .three {@include sec-grid(left, 30%); margin-left: 1%;}
	}
}

.home-test {
	.top-sec {
		@include sec-default(); padding:45px 0 30px; background-color: white;
		@include sec-bgimage('ribbon-bg.png'); background-size: 55%; background-position: top right;
		.inner {width: 80%; float: left;}

		h1 {font-size: 26px; font-weight: bold; letter-spacing: 1px; margin-bottom: 0;}
		.left, .right {@include sec-grid(left, 45%);}
		.right {width: 33%; margin-left: 3%; }
		.left{padding:30px 0; float:none; margin-left: 5%; margin-top: 20px;}

		.pricing {padding-left:15px;
			h4 {font-weight: bold; margin-bottom: 5px; }
			p{margin: 0 0 5px; font-size: 18px;
				b{font-size: 21px;font-family: $source;}
				span {font-style: italic; font-weight: normal; font-size: 16px;}
			}
			label {font-weight: normal;}
		}
		.stripe-button-el { width: 35%;
			background: -webkit-linear-gradient(-102deg, darken($btn1, 14%) 19%, darken($btn2, 10%) 81%);
			background: linear-gradient(12deg, darken($btn1, 14%) 19%, darken($btn2, 10%) 81%);

			border-radius: 20px;
			&:hover {opacity: .7;}

			span {font-size: 18px; font-family: $quick; font-weight: bold; background:transparent;
				line-height: 1.6em; box-shadow:none; height:auto;padding: 5px 0;
			}
		}

		@include bp(dt) {
			background-size: 50%;
			.inner{@include center-block();}
			.left, .right {width: 45%;}
			.right {width: 28%; margin-left: 10%; }
			.left{margin-top:2%; margin-left: 8%}
		}

		@include bp(tb) {
			background-size: 45%;
			padding:30px 0 10px;
			h1 {font-size: 22px;}
			h3{font-size: 16px;}
			.right {width: 30%; margin-left: 0; }
			.left{padding:15px 0; margin-top: 0px; width:50%;}
			.stripe-button-el { width: 45%;}
		}

		@include bp(nn) {
			background-image: none; padding-bottom: 0;
			.inner{@include center-block(); width: 90%;}
			.left{width: 55%; margin-left:7%; float: left;}
		}

		@include bp(tn) {
			padding-top:20px;
			.inner {width: 95%;}
			.left {padding:0;
				width:65%; margin-left: 3%;
				h3,p{font-size: 15px; margin-bottom:10px; }
				.pricing p b{font-size: 19px;}
				.stripe-button-el span{font-size: 16px;}
			}
		}

		@include bp(pl) {
			padding-bottom: 20px;
			.left{ width: 70%;}
			.right {width: 25%; margin-top:4%; margin-right: 2%;}
		}
		@include bp(ph) {
			@include sec-bgimage('test-kit-slide.png'); background-position: bottom right; background-size: 28%;
			padding-bottom: 75px;
			.left {width: 85%; @include center-block();}
			.right {display: none;}
			// .right{float: right; margin-top: 0; width: 30%;}
		}

		@include bp(sm) {
			background-size: 30%; padding-bottom: 120px;
			.left{width: 95%;}
		}
	}

	.banner{@include sec-default(); text-align: center; padding: 30px 20px; height:160px;
		background: -webkit-linear-gradient(102deg, darken($blue, 15%) 19%, lighten($blue, 10%) 81%);
		background: linear-gradient(-12deg, darken($blue, 15%) 19%, lighten($blue, 10%) 81%);

		h3 {color: white; font-size: 22px; margin-bottom: 5px; font-weight: bold;}
		p {color: white; font-size: 18px; margin-top: 0;}

		@include bp(tn) {
			height:140px;
			h3 {font-size: 19px;margin-bottom: 3px;}
			p{font-size: 16px;}
		}
		@include bp(mb) {
			padding:20px 10px;
			height:auto;
			h3 {font-size: 17px;}
			p{font-size: 15px;}
		}

		@include bp(sm) {height:auto; padding: 20px 10px 5px;}
	}

	.inst{@include sec-default();
	 	padding:0 0 45px; background-color: $f7;
		@include sec-bgimage('ribbon-bg-rev.png'); background-size: 60%; background-position:bottom left;

	 	.inner {float: right; width: 65%;}
		.step{display: inline-block; float: left;
		 	margin-bottom: 30px;
		 	background-color: $f8;
		 	padding: 10px 20px;
		 	width: 45%; height:225px;
		 	margin-left: 0;
		 	border-radius: 2px;
		 	box-shadow: 0px 1px 20px rgba(black, .1);
			&.one, &.two {margin-top: -4%}
			&.four, &.two {margin-left: 7%}

			p {margin-top: 20px; text-align: center;}
		}
		h4{font-weight: bold; font-family: $source; font-size: 25px;color: darken($blue, 15%); margin-top:5px; margin-bottom:0px;}
		h4.lb{font-weight: bold; margin-top:6px; font-family:$quick;color: darken($btn2, 10%); font-size: 18px;
			position: relative;z-index: 0;
			&::before {@include before(); background-color: $f2; border-radius: 4px;
				background-color: lighten($btn1, 20%);
			 	box-shadow: 0px 1px 10px rgba(black, .1);
				height:130%; margin-top: -1%;
				width:120%; left:-15%;
			}
		}

		.icon-qt{height:215px; display: inline-block;float: left; margin-right: 5px;}

		@include bp(dt) {
		 	.inner { width: 60%;}
			.step{ margin-left: 5%; width: 40%;}
			h4.lb::before{width:125%; left:-20%;}
		}

		@include bp(tb) {
			background-size: 70%;
			h4 {font-size: 21px;}
			h4.lb {font-size: 16px;}
			.inner {width: 75%;}
		}

		@media screen and (max-width: 900px) {background-image: url(image_path('ribbon-rev-sm.png'));}

		@include bp(tn) {
			background-image: none;
			padding-bottom:30px;
			.inner {@include center-block(); width:95%}
			.step {height: 210px; width:48%;
				&.one, &.three {margin-left: 0;}
				&.four, &.two {margin-left: 0; float: right;}
			}
			h4 {font-size: 19px;}
			h4.lb::before{width: 118%; left:-9%;}
		}

		@media screen and (max-width: 735px) {
			padding-bottom:0;
			.step{
				width: 90%; height:auto;
				p{text-align: left;}

				&.two{margin-top: 0;}
			}
			h4{margin-bottom:10px;}
			h4.lb{padding-top: 2px;}
			h4.lb::before{margin-top:0; height:130%; width:104%; left:-6%; }
		}

		@include bp(mb) {
			.step.one{margin-top: 20px;}
		}

		@include bp(sm) {
			.step{
				&.one,  &.two, &.three, &.four{
					width:100%; @include center-block();
				}
			}
		}
	}
}

.options {
	h2{margin-top:0; margin-bottom: 5px;}
	$tc: #dbf1f1;

	.color-hd{@include sec-default();	background: white; padding: 30px 60px;
		position: relative;z-index: 0;
		// &::before {@include before(); width: 80%;
		// 	@include sec-bgimage('pattern12.png'); background-size: 20%; background-position: top right;
		// 	left:50px;
		// 	background-repeat: repeat-y;
		// }

		h1 {color: $dark; font-size: 2.2em;letter-spacing: 1px; text-transform: uppercase; font-weight: bold; text-align: center; margin-bottom: 30px;}

		.text{ float: left; width: 44%;margin-left: 10%; }

		.img {display: inline-block; width: 25%; float: none; margin-left: 5%;
			position: relative;z-index: 0;
			&::before {@include before(); height:110%;
				@include sec-bgimage('pattern12.png'); background-size: 50%; background-position: top right; left:20px; top: -8.7%;
				background-repeat: repeat-y;
			}
		}


		@include bp(dt) {
			.text{margin-top: 20px;width: 33%;margin-left: 17%;}
		}

		@include bp(tb) {
			.text{ width: 50%; margin-left: 5%; }
			h2 {font-size: 21px;}
			p{margin: 10px 0;}
		}

		@include bp(tn) {
			padding:20px 50px 20px 30px;
			h1{font-size: 1.9em; margin-bottom: 15px;}
			.text{ width: 70%; margin-left: 0; padding-right: 15px;margin-top: 15px;}
			.img {margin-left:0; width:30%}
			h2 {font-size: 19px;}
			p{font-size: 15px; margin: 0 0 10px;}
		}

		@include bp(pl) {
			.text{margin-top: 0;}
		}

		@include bp(mb) {
			h1{font-size: 1.5em;}
			h2{font-size: 17px;}
			p {margin-bottom: 5px;}
			padding:20px;
			.img {width: 27%; }
		}

		@include bp(sm) {
			h1 {margin-bottom: 5px;}
			.text{width: 100%; text-align: center;}
			.img{float: right;}
		}
	}

	.uk-modal-full.uk-modal {
		.uk-modal-dialog {
			height:100%; @include sec-bgimage('balloon-babe.jpg'); background-size: 35%;
			border-right: 12px solid #4650ae;

			&.frm {padding: 0; background-color: $f7; background-color: #4650ae;
				p{width:21%; display: inline-block; float: left; padding: 0px 15px; line-height: 1.6em; font-weight: bold; margin-top: 24%;
					color: white; font-size: 16px;
				}

				.inside {display: inline-block; padding: 30px 45px; background-color: white; height:100%;width:77%;overflow-y:scroll;}

				@include bp(dt) {
					p{ width:20%; padding: 20px 20px; margin-top: 22%; font-size: 18px; }
					.inside {width:80%; }
				}

				@include bp(nn) {
					background-size: 30%;
					p {width:25%; margin-top: 20%; font-size: 15px;}
					.inside {width:75%; padding: 30px; }
				}

				@include bp(mb) {
					background-image: none ;
					p {width:25%; margin-top: 10%; }
					.inside {width:75%; padding: 30px 15px; }
				}

				@include bp(ph) {
					margin-right:0;
					p {@include sec-default(); }
					.inside {@include sec-default(); overflow: visible; }
				}
			}
		}
		.uk-close.uk-icon::after {display: none;}
		.uk-modal-dialog > .uk-close:first-child {margin: 20px 50px 0 0 ;}
		@include bp(ph) {
			background-clip: white;
			.uk-modal-dialog{border-right:6px solid #4650ae;border-left:6px solid #4650ae;}
			.uk-modal-dialog > .uk-close:first-child {margin: 10px 15px 0 0 ;}
		}
	}

	.test-options {
		@include sec-default();padding:$sec-pad; background-color: rgba($tc, .2);
		position: relative;z-index: 0;
		.inner {width:80%;}

		.options {
			width: 75%; margin-top: 3%; @include center-block();

			p {display: inline-block; width: 48%; padding: 0px 0 0px 15px; text-align: right; margin-bottom: 5px;

				.opt-name {font-size: 18px; background-color: transparent; line-height: 2em;}
				i {
					float: right;
					margin-right: 7px;
					text-align: center;
					font-size: 14px;
					line-height: 1.9em;
					margin-left: 8px;
					margin-top: 5px;
					img{height:35px;}
					background-color: #4DBBBC;

					width: 26px; height: 26px;
					border-radius: 50%;
					color: white;
				}

				&:nth-child(2n+2) {
					text-align: left;
					i{float:left; margin-left: 0;}
					i.imgcon{margin: 0 5px 0 0;}
				}
			}
		}

		.img-l {
			display: inline-block;
			height: 280px; z-index: -1;
			position: absolute; left:17%;
			margin-top:-3%;
		}

		@media screen and (min-width:1325px) {.img-l {left:24%;}}

		@include bp(dt) {
			.img-l {left:22%;}
			.options{width: 65%;
				p {display: inline-block; width: 47%; margin-left: 2%;}
			}
		}

		@media screen and (max-width:1050px) {.img-l {left:15%;}}

		@include bp(tb) {
			.img-l {}
			.options{width: 80%; margin-top: 0;
				p {
					.opt-name {font-size: 16px;}
				}
			}
		}

		@include bp(nn) {
			.img-l {left:12%;}
			.options{width: 85%; }
		}

		@include bp(tn) {
			padding:35px 0;
			.img-l {height: 240px; left:7%;}

			.options {width:100%;
				p.opt-name {font-size: 15px;}
			}
		}

		@include bp(pl) {
			.img-l {left:3%;}
			.inner {width: 90%; float: right;}
		}

		@include bp(sm) {
			padding:25px 0;
			.img-l {left:1%; height:180px; top:27%;}
			.options p, .options p:nth-child(2n+2){
				width:85%; padding-left: 0; float: right; text-align: left; margin: 5px 0 8px;
				i {float: left; margin-left: 0;}
			}
		}
	}

	.opt-block{@include sec-default(); background-color: $f7; padding:60px 0;
		br.cst-br{display: none;}

		.title {@include sec-grid(none, 30%); text-align: center; margin-left: 5%;}
		.dets {@include sec-grid(right, 60%); }

		&:nth-child(2n+2) {background-color: white;
			.dets{float: left;margin-left: 5%;}
			.title{margin-left: 0;}
		}

		&.long {
			.dets,.title{margin-left: 0;}
			.dets {width: 68%;}
			.title{width: 30%; margin-top: 3%;}
			span {font-style: italic;}
		}

		&.short {
			.inner{width: 75%;}
			.title{float: left; }
			.dets{width: 55%; margin-top: 5%}
		}

		h3 {font-size: 25px; color: $blue; font-family: $cant; font-weight: bold; text-transform: uppercase;}
		p.price{font-weight: bold;}
		.register {
			font-size: 15px; font-weight: bold; color: white;
			letter-spacing: .5px;
			text-align: center; padding: 7px 15px; border-radius: 5px;
			background: -webkit-linear-gradient(-30deg, darken($blue, 15%), $blue);
			background: linear-gradient(-30deg, darken($blue, 15%), $blue);
		}

		@include bp(dt) {
			br.cst-br{display: block;}
		}

		@include bp(tb) {
			padding:45px 0;
			// .inner {width: 90%;}
			h3{font-size: 20px;}
			p {font-size: 15px;}
		}

		@include bp(nn) {
			&, &:nth-child(2n+2), &.long, &.short {
				padding: 30px 0;
				h3 {font-size: 19px; margin-bottom: 8px;}
				p.price{margin-top: 0px;}
				.inner {width: 90%;}
				.title {width: 99%; @include center-block(); margin-top: 0}
				.dets {@include sec-default();margin-top: 20px;}
			}
		}

		@include bp(sm) {
			.title{width:100%;}
		}
	}
}

$new: #ccd1d9;
.our_process {
	.hd-layers {@include sec-default();  background-color: $f6;
		height:500px;
		position: relative;z-index: 0;
		@include sec-bgimage('girl.png');
		background-size: 70%; background-position: bottom right; overflow: hidden;

		&::before {
			position: absolute; z-index: -1;
			content: "";
			left:-10%; margin-top:-20px;
			width: 45%;
			height:94%;
			background-color: rgba(9,33,45, .94);
			-webkit-transform: skew(30deg, -18deg);
      -moz-transform: skew(30deg, -18deg);
      -o-transform: skew(30deg, -18deg);
      -ms-transform: skew(30deg, -18deg);
      transform: skew(30deg, -18deg);
		}

		&::after {
			position: absolute; z-index: -1;
			content: "";
			right:-10px;
			bottom:-20%;
			width: 60%;
			height:36%;
			background-color:  darken($plum, 15%);
			-webkit-transform: skew(-30deg, 10deg);
      -moz-transform: skew(-30deg, 10deg);
      -o-transform: skew(-30deg, 10deg);
      -ms-transform: skew(-30deg, 10deg);
      transform: skew(-30deg, 10deg);
		}

		.l1 {width: 33%; padding: 6% 0 0 2.5%;
			h1, h3 {font-weight: bold; color: white; text-transform: capitalize; @include tshadowl(rgba(black, .4));}
			h3 {padding-left: 15px; margin-bottom: 10px; }
			h1 {font-family: $open; font-size: 32px;}
		}

		@media screen and (max-width: 1255px) {
			background-size: 75%; background-position: bottom right;

			.l1 {
				width:36%;padding: 6% 0 0 1.5%;
				h1 {font-size: 30px;}
			}
		}

		@include bp(tb) {
			height:350px; background-size: 69%;
			&::before {left:-12%; width:50%}
			&::after {width: 65%;}
			.l1 {
				h1 {font-size: 25px;}
				h3 {font-size: 16px;}
			}
		}

		@include bp(nn) {
			.l1 {width: 40%;}
		}

		@include bp(tn) {
			height: 250px;
			&::after {display: none;}
			&::before {width: 60%; height:98%; margin-top:-27px; background-color: rgba(9,33,45, .97);}
			.l1 { padding-top: 3%; width:50%;
				h1 {font-size: 22px;}
				h3 {padding-left: 7px;}
			}
		}

		@include bp(sm) {
			background-size: 100%;
			// @include grayscale();
			height:auto;
			&::before{display: none;}
			.l1 {@include sec-default(); background-color: rgba(9,33,45, .8); padding: 20px; }
		}
	}

	.tbl-row {@include sec-default(); padding: 55px 0;background-color: white;
		.inner{width: 80%; }
		h4 {margin-bottom: 0px; font-weight: bold; font-size:17px; font-family: $open;}
		p{margin-top: 10px;}

		.f2,.f3 {display: inline-block;width: 33%; float: left; margin-left: 3%;}
		.f3 { width: 60%; margin-top:15px; }
		.f1 {@include sec-default(); padding-top:25px; margin-top:15px; border-top: 1px solid rgba($new, .3);}

		&.rev {	background-color: $f6;
			.f2 { width:25%;}
		}

		@include bp(dt) {
			padding: 75px 0;
			.inner{width: 75%; }
			.f2,.f3{ margin-left: 5%;}
			.f3 { width: 55%; }
		}

		@include bp(tb) {
			.inner {width: 90%;}
			.f2 {margin-top:2%; margin-left: 0;}
			.f3 { width: 64%; margin-left: 2%}

			&.reg {
				.f3 {float:right;margin-left: 0; padding: 0 10px;}
				.f2 {margin-left:0;}
			}
		}

		@include bp(tn) {
			padding:20px 0;
			.inner {width: 97%;}
			p{font-size: 15px;}
			h4 {font-size: 16px;}
			.f1 {padding-top:15px; margin-top: 7px;}
			.f3 { width:70%; padding: 0 15px;}


			&.reg {
				.f2 {width:30%; padding: 0 5px ; margin-top: 5%;}
				.f3{padding: 0 20px;}
			}

			&.rev {
				.f2 {margin-top: 3%}
			}
		}

		@include bp(mb) {
			&.reg, &.rev {
				.f2{width: 23%; margin-top:7%;}
				.f3 {width: 76%; margin-left: 0; padding: 0 15px;}
			}
		}

		@include bp(sm) {
			&.reg, &.rev {
				.f2{width: 30%; @include center-block(); margin-top:0; padding: 0;}
				.f3 {width: 95%; @include center-block(); }
			}
		}
	}

	.btcall-block {@include sec-default();
		padding: 30px; text-align: center;
		background: -webkit-linear-gradient(-200deg, darken($blue, 10%), $blue);
		background: linear-gradient(-200deg, darken($blue, 10%), $blue);
		.inner {width: 45%; @include center-block();}
		p {color: white; font-size: 21px; font-weight: bold;  letter-spacing: 1px;}
		h4 {font-size: 25px; color: $f6; font-weight: bold; font-family: $open;}

		@include bp(tb) {.inner {width: 65%; }}
		@include bp(tn) {
			padding: 20px 20px 10px;
			.inner {width: 75%;}
			p {font-size: 18px;}
			h4 {font-size: 20px;}
		}
		@include bp(tb) {.inner {width: 99%; }}
	}
}

.states {
  // .state-list {width:20%; float: left; display: inline-block; }
  .header-wrapper {position: relative;z-index: 1;}
  .tfw {@include sec-default(); padding-bottom:12px;}
  td.print {padding-left: 30px;}
  h4.state-name {margin-bottom: 5px; }
  p.info{font-size: 13px; margin: 0;}

	.all-states { padding:0;
		.tbls{@include sec-default(); }
		.top{@include sec-default(); background-color:white;
			position: relative; z-index: 0;
			&::before {@include before(); background-color: $f6; height: 45%; top: 55%; z-index: -2;}

			.one {@include sec-grid(left, 53%);  padding:30px 0;}
			.two {@include sec-grid(right, 47%); padding-top:30px;}
			span{ font-size: 20px; font-weight: bold; line-height: 1.6em; color: $blue; font-family: $open;}
			.tests{color: darken($burg, 15%); }
		}

		.wrap {width: 95%; }
		.listing {width:20%; float: left; display: inline-block; padding-left: 20px; margin: 0 2.5%;
			position: relative; z-index: 0;
			&::before {@include before(); width: 20%; height: 100%; top:-1%;
				// background-color: $burg;
			}
		}

		.tfw {background-color: white; padding: 20px 15px 20px 40px; border-radius:15px; margin-bottom: 20px;
			position: relative;z-index: 0; box-shadow: 0px 5px 10px rgba(black, .1);
			i { position: absolute; content: ">"; background-color: $f7;border-radius: 10px; color: darken($blue, 20%); bottom:15px;
				width:35px; height:35px; right:-14px; font-size: 17px; line-height: 2em; font-weight: bold; text-align: center;
				box-shadow: 0px 5px 10px rgba(black, .1); padding-left: 2px;
			}

			.state-icons {display: inline-block; float: left; width: 40px; background-color: $f2;
				position: absolute; left:0; padding: 5px; border-radius:15px; box-shadow: 0px 5px 10px rgba(black, .1);
				left: -5%; margin-top: -10%;
			}
		}

		@include bp(dt) {
			.top::before { height: 42%; top: 58%; }

			.wrap {width: 90%; }

			.tfw {padding: 20px 15px 20px 50px;
				.state-icons {margin-top: -8%;}
			}
		}

		@include bp(tb) {
			.top {
				&::before {display: none;}
				.inner {width: 90%;}
				h1 {font-size: 1.8em; margin-bottom: 0;}
				.title-line {margin:8px 0 10px;}
				.one{ width: 60%; padding: 15px 0;}
				.two {width: 39%; margin-top:60px; padding-top:0;}
				p {margin:5px 0 10px;}
			}

			.listing {width:21%; margin: 0 0 0 4%;padding-left:15px;
				&.uno{margin-left:1.5%;}
				&.quatro{margin:0; float:right;}
				&::before { width: 18%; height: 100%; top:-1%; background-color: rgba($blue, .5);}
			}

			.tfw {
				i {width:30px; height:30px; font-size:16px;}
				.state-icons {margin-top: -12%; }
			}
		}

		@include bp(nn) {
			.state-name{font-size:15px;}

			.listing { width: 40%; @include center-block();
				&.uno, &.quatro {float:none; margin:auto;}
			}
		}

		@include bp(tn) {
			.top {
				.inner {width: 85%;}
				@include sec-bgimage('colorful-map.png'); background-size: 22%; background-position: bottom right;
				h1 {font-size: 1.8em; margin-bottom: 0;}
				.one{ width: 85%; padding: 15px 0;}
				.two {width: 25%; margin-top:60px; padding-top:0; display: none;}
				p {margin:5px 0 10px;}
			}
		}

		@include bp(mb) {
			.listing {width: 50%;}
			.tfw .state-icons {margin-top: -7%;}
		}

		@include bp(sm) {
			.listing {width: 65%;}
			.tfw .state-icons {margin-top: -10%;}
		}
	}
}





