<% @page_title = "Cities" %>

<div class="full">
	<div class="wrap">
		<h1><%= @page_title %> </h1>

		<table class="listing">
			<% @towns.each do |town| %>
		  <tr>
		    <!-- <td><p><%= town.id %>.&nbsp;&nbsp; </p></td> -->
		    <td><p>&nbsp;<%= town.townname %></p></td>
		    <td><p>&nbsp;<%= town.state_id %></p></td>
		  </tr>
		  <% end %>
		</table>
	</div>
</div>
